body {
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

pre.example {
    background-color: #e6f4ff;
}

div.note {
    /* outline: black solid thin; */
    margin: 3px;
    border: 3px solid silver;
    padding: 5px;
}